<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="TicketWebApp.exe" arguments="" stdoutLogEnabled="false" stdoutLogFile="\logs\stdout" hostingModel="inprocess"/>
  </system.webServer>
</configuration>